.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: black;
  padding: 0.3rem 2rem;
  z-index: 50;
}

.logo {
  font-weight: bolder;
  color: white;
  font-size: 1.5rem;
}

.navlinks {
  list-style-type: none;

  display: flex;
  align-items: center;
}

.navlinks a {
  display: inline-block;
  font-size: 1rem;
  color: white;
  padding: 0 1rem;
  text-decoration: none;
  transition: all 0.26s linear;
}

.navlinks a:hover {
  color: green;
  transform: scale(1.2);
}

.navlinks i {
  padding: 0 1.5rem;
  cursor: pointer;
}

.navbtn {
  background-color: greenyellow;
  padding: 0.5rem 1rem;
}

.menu-btn {
  font-size: 1.5rem;
  font-weight: bolder;
  transition: all 0.26s linear;
  display: none;
}

/* media queries */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .navbar {
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 2rem;
  }

  .menu-btn {
    display: inline;
  }

  .fa-bars {
    font-size: 1.5rem;
    transition: all 0.26s linear;
  }

  .fa-times {
    font-size: 1.5rem;
    transform: rotate(180deg);
    transition: all 0.26s linear;
  }

  .navlinks {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;

    display: block;
    text-align: center;
    background: black;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .navlinks li a {
    font-size: 1rem;
    padding: 1rem;
  }

  .active {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;

    display: block;
    text-align: center;
    background: black;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .navbar a {
    display: block;
    font-size: 2rem;
  }
}

/* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
